<ion-view title="Add Patient">
    <ion-content padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                      Gender
                    </div>
                    <select>
                      <option>Male</option>
                      <option>Female</option>
                      <option selected>-</option>
                    </select>
                  </label>
                <label class="item item-input">
                    <span class="input-label">Date of birth</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">MRN</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a href="#/page3" class="button button-positive button-block button-large">Add Patient</a>
        </form>
    </ion-content>
</ion-view>