<ion-view title="Search For Patient">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">DOB</span>
                <input type="date" placeholder="">
            </label>
            <button class="button button-stable button-block ">Search</button>
            <div class="spacer" style="width: 300px; height: 28px;"></div>
            <a href="#/page2" class="button button-positive button-clear button-block ">Or Add new Patient</a>
        </form>
    </ion-content>
</ion-view>