<ion-view title="Select Test">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <a href="#/page4" class="button button-stable button-block ">S Test</a>
            <a href="#/page4" class="button button-stable button-block ">E Test</a>
            <a href="#/page4" class="button button-stable button-block ">SLanC Test</a>
            <a href="#/page4" class="button button-stable button-block ">EChrt1 Test</a>
        </form>
    </ion-content>
</ion-view>