<style type="text/css">
 .swiper-container {
            width: 100%;
            height: 100%;
        }
        
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
</style>

<div>

<div>

<!-- 	<ks-swiper-container initial-slide="0" speed="10000" loop="false" show-nav-buttons="false" slides-per-view="1" space-between="5" pagination-clickable="false" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : true}}">
	    <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4,5,6,7,8,9,10,11,12]">
	       	<div>
	       		Slide No {{s}}
	       		<br/>
		       	<ion-radio ng-model="choise" ng-value="'A'">Top</ion-radio>
				<ion-radio ng-model="choise" ng-value="'B'">Bottom</ion-radio>
				<ion-radio ng-model="choise" ng-value="'C'">None</ion-radio>
			</div>
	    </ks-swiper-slide>            
	</ks-swiper-container> -->
		      
	<ion-slide-box show-pager="true">
		  <ion-slide>
		  <div  class="swiper-slide">
		  Slide No 1
		</div>
		 	<div class="swiper-slide">
	       		
		       	<ion-radio ng-model="choice6" ng-value="'A'">Top</ion-radio>
				<ion-radio ng-model="choice6" ng-value="'B'">Bottom</ion-radio>
				<ion-radio ng-model="choice6" ng-value="'C'">None</ion-radio>
			</div>
			<br/>
			<br/>
		  </ion-slide>
		  <ion-slide>
		  <div  class="swiper-slide">
		  Slide No 2
		</div>
		 	 <div class="swiper-slide">
	       		
		       	<ion-radio ng-model="choice1" ng-value="'A'">Top</ion-radio>
				<ion-radio ng-model="choice1" ng-value="'B'">Bottom</ion-radio>
				<ion-radio ng-model="choice1" ng-value="'C'">None</ion-radio>
			</div>
		  </ion-slide>
		   <ion-slide>
		   <div  class="swiper-slide">
		  Slide No 3
		</div>
		 	 <div class="swiper-slide">
		       	<ion-radio ng-model="choice2" ng-value="'A'">Top</ion-radio>
				<ion-radio ng-model="choice2" ng-value="'B'">Bottom</ion-radio>
				<ion-radio ng-model="choice2" ng-value="'C'">None</ion-radio>
			</div>
		  </ion-slide>
		   <ion-slide>
		   <div  class="swiper-slide">
		  Slide No 4
		</div>
		 	 <div class="swiper-slide">
		       	<ion-radio ng-model="choice3" ng-value="'A'">Top</ion-radio>
				<ion-radio ng-model="choice3" ng-value="'B'">Bottom</ion-radio>
				<ion-radio ng-model="choice3" ng-value="'C'">None</ion-radio>
			</div>
		  </ion-slide>
		   <ion-slide>
		   <div  class="swiper-slide">
		  Slide No 5
		</div>
		 	 <div class="swiper-slide">
		       	<ion-radio ng-model="choice4" ng-value="'A'">Top</ion-radio>
				<ion-radio ng-model="choice4" ng-value="'B'">Bottom</ion-radio>
				<ion-radio ng-model="choice4" ng-value="'C'">None</ion-radio>
			</div>
		  </ion-slide>
		   <ion-slide>
		   <div  class="swiper-slide">
		  Slide No 6
		</div>
		 	 <div class="swiper-slide">
		       	<ion-radio ng-model="choice5" ng-value="'A'">Top</ion-radio>
				<ion-radio ng-model="choice5" ng-value="'B'">Bottom</ion-radio>
				<ion-radio ng-model="choice5" ng-value="'C'">None</ion-radio>
			</div>
		  </ion-slide>
		   <ion-slide>
		   <div  class="swiper-slide">
		  Slide No 7
		</div>
		 	 <div class="swiper-slide">
		       	<ion-radio ng-model="choice5" ng-value="'A'">Top</ion-radio>
				<ion-radio ng-model="choice5" ng-value="'B'">Bottom</ion-radio>
				<ion-radio ng-model="choice5" ng-value="'C'">None</ion-radio>
			</div>
		  </ion-slide>
		   <ion-slide>
		   <div  class="swiper-slide">
		  Slide No 8
		</div>
		 	 <div class="swiper-slide">
		       	<ion-radio ng-model="choice5" ng-value="'A'">Top</ion-radio>
				<ion-radio ng-model="choice5" ng-value="'B'">Bottom</ion-radio>
				<ion-radio ng-model="choice5" ng-value="'C'">None</ion-radio>
			</div>
		  </ion-slide>
		  
</ion-slide-box>
</div>
</div>